<% content_for :head do %>
  <%= stylesheet_link_tag 'grapesjs-test', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<ul>
  <li><%= link_to '<-- Volver al listado', documents_path %></li>
  <li><%= link_to 'Clonar', clone_document_path(@document) %></li>
  <li><%= link_to 'Eliminar', destroy_document_path(@document), method: :delete, data: { confirm: '¿Estás seguro/a?' } %></li>
</ul>

<h1>Editar documento<span style="color: blue;">#<%= @document.id %></span></h1>

<div class="editor-container">
  <div class="panel__top">
      <div class="panel__basic-actions"></div>
  </div>
  <div class="editor-row">
    <div class="editor-canvas">
      <div id="gjs">
        <h1>Cargando...</h1>
      </div>
    </div>
    <div class="panel__right">
      <div class="layers-container"></div>
    </div>
  </div>
</div>

<h1>Pegar html a importar:</h1>

<textarea id="gjs-raw-input"></textarea>
<button id="gjs-input-button">Importar</button>

<%= javascript_pack_tag 'grapesjs/edit' %>
