<h1>Home</h1>

<h2>GrapesJS</h2>
<ul>
  <li><%= link_to 'Todos los documentos', documents_path %></li>
  <li><%= link_to 'Nuevo documento', new_document_path %></li>
</ul>
<ul>
  <li><%= link_to 'GrapesJS Test 1 (from dom content)', grapesjs_test_path %></li>
  <li><%= link_to 'GrapesJS Test 2 (from html string)', grapesjs_test2_path %></li>
  <li><%= link_to 'GrapesJS Test 3 (with import)', grapesjs_test3_path %></li>
</ul>

<h2>EditorJS</h2>
<ul>
  <li><%= link_to 'EditorJS Test', editorjs_test_path %></li>
  <li><%= link_to 'EditorJS Showroom', editorjs_showroom_path %></li>
</ul>

<h2>TinyMCE</h2>
<ul>
  <li><%= link_to 'TinyMCE Test', tinymce_test_path, 'data-turbolinks': 'false' %></li>
</ul>

<h2>Tiptap (VUE, based on ProseMirror)</h2>
<ul>
  <li><%= link_to 'Tiptap Test', tiptap_test_path %></li>
</ul>
